{% extends "base.html" %}

{% block header %} 
    All Doctors 
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='doctor_all_file.css') }}">
{% endblock %}

{% block content %}
    <style>
        footer {
            position: relative;
        }
    </style>

    <div class="container">
        <h2>All Doctors</h2>

    </div>

    {% if doctors %}
        </style>
       
        <table border="1">
            <tr>
                <th>Doctor ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Specialization</th>
                <th>Current Status</th>
            </tr>
            {% for doctor in doctors %}
                <tr>
                    <td>{{ doctor[0] }}</td>
                    <td>{{ doctor[1] }}</td>
                    <td>{{ doctor[2] }}</td>
                    <td>{{ doctor[3] }}</td>
                    <td>{{ doctor[4] }}</td>
                    <td>{{ doctor[5] }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
